@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h3>Information</h3>

<p>Nome <strong>@ViewData["Name"]</strong></p>
<p>E-mail <strong>@ViewData["Email"]</strong></p>
<p><strong>@(ViewData["GitHub"])</strong><a href="https://github.com/DanielODev/AspNetCoreMvc"> Github.com/DanielODev</a></p>
